img{
    height: 240px !important;
}
.card{
    height: 360px !important;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.card h5{
    height: 50px;
}
#navbarDarkDropdownMenuLink{
    color: black;
}
#bsale{
    color: black;
}